@using Domain.Models.ViewModels
@model DashBoardViewModel

<style>
    .main-link{
        background-color: #D9D9D980; 
        border-left: 1px solid #64876F!important;
        border-width: 5px!important;
    }

    .data-link{
        color: #64876F;
    }

    .data-link:hover{
        color: #64876F;
        background-color: #D9D9D980; 
    }  
</style>

<section>
    <div class="container-fluid">
    <div class="row">
      <div class="col">
        <nav class="rounded-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Головна </a></li>
            <li class="breadcrumb-item active" aria-current="page">Мій аккаунт</li>
          </ol>
        </nav>
      </div>
    </div>
    <h3 class="text-center">Особисті дані</h3>
    <div class="row mt-5">
        <div class="col-sm-3 ">
            <figure class="text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid border border-2 border-primary" style="width: 100px;">
                <figcaption class="figure-caption">
                    <p style="color: #201E1E; font-size: 20px; font-family: 'Inter';font-style: normal; font-weight: 600;" class="mt-4 ">@Model.Name @Model.Surname</p>
                    @if (!User.IsInRole("User")){
                        <p style="font-size: 16px; color: #858484;">@Model.Employee.Position</p>
                    }
                </figcaption>
            </figure> 
            <div>
                <ul class="navbar-nav ms-auto">
                    <li class="main-link nav-item">
                        <a asp-controller="Dashboard" asp-action="Index" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link ms-3">
                            <span><i class="fa-solid fa-id-card fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Особисті дані
                        </a>
                    </li>
                    @if (!User.IsInRole("User"))
                    {
                        <li class="data-link nav-item mt-2">
                                <a asp-controller="Home" asp-action="Index" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link ms-3">
                                <span><i class="fa-regular fa-calendar-days fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Розклад працівніків
                            </a>
                        </li>
                        <li class="data-link nav-item mt-2">
                            <a asp-controller="Home" asp-action="Index" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link ms-3">
                                <span><i class="fa-solid fa-database fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Дані номерів
                            </a>
                        </li>
                        <li class="data-link nav-item mt-2">
                            <a asp-controller="Home" asp-action="Index" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link ms-3">
                                <span><i class="fa-solid fa-sliders fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Загальні параметри
                            </a>
                        </li>
                        <li class="data-link nav-item mt-2">
                            <a asp-controller="Home" asp-action="Index" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link ms-3">
                                <span><i class="fa-solid fa-comments fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Модерація відгуків
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="data-link nav-item mt-2">
                            <a asp-controller="Home" asp-action="Index" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link  ms-3">
                                <span><i class="fa-solid fa-key fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Вхід та безпека
                            </a>
                        </li>
                        <li class="nav-item mt-2 data-link">
                            <a asp-controller="Dashboard" asp-action="PaymentData" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link ms-3">
                                <span><i class="fa-regular fa-credit-card fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Платіжні дані
                            </a>
                        </li>
                        <li class="data-link nav-item mt-2">
                            <a style="color: #64876f; text-decoration: none; font-family: 'Inter'; font-style: normal; font-weight: 400;" asp-controller="Home" asp-action="Index" class="nav-link ms-3">
                                <span><i class="fa-regular fa-message fa-lg" style="color: #64876f;"></i></span>&nbsp;&nbsp;Повідомлення
                            </a>
                        </li>
                        <li class="data-link nav-item mt-2">
                            <a asp-controller="Home" asp-action="Index" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link ms-3">
                                <span><i class="fa-regular fa-calendar-days fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Мої бронювання
                            </a>
                        </li>
                        <li class="data-link nav-item mt-2">
                            <a asp-controller="Home" asp-action="Index" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link ms-3">
                                <span><i class="fa-solid fa-sliders fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Загальні параметри
                            </a>
                        </li>
                        <li class="data-link nav-item mt-2">
                            <a asp-controller="Home" asp-action="Index" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400;" class="nav-link ms-3">
                                <span><i class="fa-solid fa-comments fa-lg" style="color: #64876f;"></i></span> &nbsp;&nbsp;Мої відгуки
                            </a>
                        </li>
                    }
                </ul>        
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row border-bottom border-3">
                <div class="col-5 pb-3"><span style="color: #353535; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 18px;">Ім'я та Прізвище</span></div>
                <div class="col-3 text-center pb-3"><span style="color: #858484;">@Model.Name @Model.Surname</span></div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400; padding-top: 0px;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
            <div class="row mt-3 border-bottom border-3">
                <div class="col-5 pb-3"><span style="color: #353535; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 18px;">Електронна адреса</span>
                    <br/> 
                    <p style="font-size: 12px; color: #858484;">Це адреса, яку ви використовуєте для входу, і кудими надсилаємо ваші підтвердження бронювань.</p>
                </div>
                <div class="col-3 text-center pb-3"><span style="color: #858484;">@Model.Email</span></div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400; padding-top: 0px;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
            <div class="row mt-4 border-bottom border-3">
                <div class="col-5 pb-3"><span style="color: #353535; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 18px;">Номер телефону</span>
                    <br/> 
                    <p style="font-size: 12px; color: #858484;">На цей номер можуть дзвонити господарі житла й організатори дозвілля, за ним можна входити в акаунт.</p>
                </div>
                <div class="col-3 text-center pb-3"><span style="color: #858484;">@Model.PhoneNumber</span></div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400; padding-top: 0px;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
            <div class="row mt-4 border-bottom border-3">
                <div class="col-5 pb-3"><span style="color: #353535; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 18px;">Дата народження</span></div>
                <div class="col-3 text-center pb-3"><span style="color: #858484;">@Model.BirthDate.ToString("dd/MM/yyyy")</span></div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400; padding-top: 0px;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
            @*add birthday*@
            @if (!User.IsInRole("User")) 
            {
                <div class="row mt-4 border-bottom border-3">
                    <div class="col-5 pb-3"><span style="color: #353535; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 18px;">Ваша країна</span></div>
                    <div class="col-3 text-center pb-3"><span style="color: #858484;">@Model.Employee.Address.Country</span></div>
                    <div class="col-3 text-lg-end pb-3">
                        <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400; padding-top: 0px;" class="nav-link px-2 link-secondary">Редагувати</a>
                    </div>
                </div>
                <div class="row mt-4 border-bottom border-3">
                    <div class="col-5 pb-3"><span style="color: #353535; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 18px;">Ваша адреса</span></div>
                    <div class="col-3 text-center pb-3"><span style="color: #858484;">@Model.Employee.Address.Street, @Model.Employee.Address.City</span></div>
                    <div class="col-3 text-lg-end pb-3">
                        <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400; padding-top: 0px;" class="nav-link px-2 link-secondary">Редагувати</a>
                    </div>
                </div>
                <div class="row mt-4 border-bottom border-3">
                    <div class="col-5 pb-3"><span style="color: #353535; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 18px;">Ваша зарплата</span></div>
                        <div class="col-3 text-center pb-3"><span style="color: #858484;">@Model.Employee.Salary UAH</span></div>
                    <div class="col-3 text-lg-end pb-3">
                        <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F; font-family: 'Inter'; font-style: normal; font-weight: 400; padding-top: 0px;" class="nav-link px-2 link-secondary">Редагувати</a>
                    </div>
                </div>
            }
        </div>
    </div>

</section>