@using Domain.Models.ViewModels
@model DashBoardViewModel

<style>
    .main-link{
        background-color: #D9D9D980; 
        opacity: 50%; 
        border-color:#64876F;
    }

    .data-link{
        color: #64876F;
    }

    .data-link:hover{
        color: #64876F;
        background-color: #D9D9D980; 
    }  
</style>

<section>
    <div class="container-fluid">
    <div class="row">
      <div class="col">
        <nav class="rounded-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Головна <i class="fa-solid fa-angle-right fa-xs" style="color: #858484;"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Мій аккаунт</li>
          </ol>
        </nav>
      </div>
    </div>
    <h3 class="text-center">Особисті дані</h3>
    <div class="row mt-5">
        <div class="col-sm-3 ">
            <figure class="text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 100px;">
                <figcaption class="figure-caption">
                    <h4 style="color: #201E1E;" class="mt-4 ">@Model.Name @Model.Surname</h4>
                    <p style="font-size: 14px; color: #858484;">@Model.Employee.Position</p>
                </figcaption>
            </figure> 
            <div>
                <ul class="navbar-nav ms-auto text-center">
                    <li class="main-link nav-item border-start border-5">
                        <a asp-controller="Dashboard" asp-action="Index" style="color: #64876F;" class="nav-link">Особисті дані</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="data-link nav-link" href="#">Розклад працівніків</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="data-link nav-link" href="#">Облік вільних номерів </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="data-link nav-link" href="#">Послуги для клієнтів </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="data-link nav-link" href="#">Загальні параметри </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="data-link nav-link" href="#">Модерація відгуків </a>
                    </li>
                </ul>        
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row border-bottom border-3">
                <div class="col-5 pb-3">Ім'я та Прізвище</div>
                <div class="col-3 text-center pb-3">@Model.Name @Model.Surname</div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
            <div class="row mt-4 border-bottom border-3">
                <div class="col-5 pb-3">Електронна адреса
                    <br/> 
                    <p style="font-size: 12px; color: #858484;">Це адреса, яку ви використовуєте для входу, і кудими надсилаємо ваші підтвердження бронювань.</p>
                </div>
                <div class="col-3 text-center pb-3">@Model.Email</div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
            <div class="row mt-4 border-bottom border-3">
                <div class="col-5 pb-3">Номер телефону
                    <br/> 
                    <p style="font-size: 12px; color: #858484;">На цей номер можуть дзвонити господарі житла й організатори дозвілля, за ним можна входити в акаунт.</p>
                </div>
                <div class="col-3 text-center pb-3">@Model.PhoneNumber</div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
            @*add birthday*@
            <div class="row mt-4 border-bottom border-3">
                <div class="col-5 pb-3">Ваша країна</div>
                <div class="col-3 text-center pb-3">@Model.Employee.Address.Country</div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
            <div class="row mt-4 border-bottom border-3">
                <div class="col-5 pb-3">Ваша адреса</div>
                <div class="col-3 text-center pb-3">@Model.Employee.Address.Street, @Model.Employee.Address.City</div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
            <div class="row mt-4 border-bottom border-3">
                <div class="col-5 pb-3">Ваша зарплата</div>
                <div class="col-3 text-center pb-3">@Model.Employee.Salary UAH</div>
                <div class="col-3 text-lg-end pb-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-email="@Model.Email" style="color: #64876F;" class="nav-link px-2 link-secondary">Редагувати</a>
                </div>
            </div>
        </div>
    </div>

</section>

@*@if (User.IsInRole("Admin"))
{
    <a asp-controller="User" asp-action="CreateEmployee" class="nav-link px-2 link-secondary">Create a new worker</a>
}
else
{
    <a asp-controller="Booking" asp-action="Create" class="nav-link px-2 link-secondary">Create a new booking</a>
}*@