@using Domain.Enum
@using Domain.Models.ViewModels
@model List<RoomViewModel>

<h1>Room</h1>
<li><a asp-controller="Room" asp-action="Create" class="nav-link px-2">CreateRoom</a></li>

@foreach (var roomItem in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Room @roomItem.RoomNumber</h5>
        <h6 class="card-subtitle mb-2 text-muted">The room has @roomItem.CountRoom beds and is located on the @roomItem.Floor floor</h6>
        @*<a asp-controller="Room" asp-action="Edit" asp-route-id="@roomItem.RoomId" class="card-link">Edit</a>
        <a asp-controller="Room" asp-action="Delete" asp-route-id="@roomItem.RoomId" class="card-link">Delete</a>*@
            @Html.ActionLink("Edit", "Edit", new {  RoomId=roomItem.RoomId  }) 
            @Html.ActionLink("Delete", "Delete", new { RoomId = roomItem.RoomId  })
      </div>
    </div>
}


