@using Domain.Enum
@using Domain.Models.ViewModels
@model BookingViewModel

@*<form method="post" asp-action="Create" enctype="multipart/form-data">
  <div class="form-group">
    <label asp-for="DateArrival">Date Arrival</label>
    <input asp-for="DateArrival" class="form-control" placeholder="Date Arrival">
    <span asp-validation-for="DateArrival" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="DateDeparture">Date Departure</label>
    <input asp-for="DateDeparture" class="form-control" placeholder="Date Departure">
    <span asp-validation-for="DateDeparture" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Price">Price</label>
    <input asp-for="Price" class="form-control" placeholder="Prace">
    <span asp-validation-for="Price" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Room.TypeRoom">TypeRoom</label>
    <select asp-for="Room.TypeRoom" asp-items="@Html.GetEnumSelectList<TypeRoom>()" class="form-control">
             <option>--Select--</option>
    </select>
    <span asp-validation-for="Room.TypeRoom" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Service.hasFridge">Fridge</label>
    @Html.CheckBoxFor(x => x.Service.hasFridge)
    <span asp-validation-for="Service.hasFridge" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Service.hasTV">TV</label>
    @Html.CheckBoxFor(x => x.Service.hasTV)
    <span asp-validation-for="Service.hasTV" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Service.hasInternet">Internet</label>
     @Html.CheckBoxFor(x => x.Service.hasInternet)
     <span asp-validation-for="Service.hasInternet" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Service.hasSmoking">Smoking</label>
    @Html.CheckBoxFor(x => x.Service.hasSmoking)
    <span asp-validation-for="Service.hasSmoking" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Service.hasAirConditioning">Air Conditioning</label>
    @Html.CheckBoxFor(x => x.Service.hasAirConditioning)
    <span asp-validation-for="Service.hasAirConditioning" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Service.hasParkingLot">ParkingLot</label>
   @Html.CheckBoxFor(x => x.Service.hasParkingLot)
   <span asp-validation-for="Service.hasParkingLot" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Service.hasIron">Iron</label>
    @Html.CheckBoxFor(x => x.Service.hasIron)
    <span asp-validation-for="Service.hasIron" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Service.hasBabysitter">Babysitter</label>
    @Html.CheckBoxFor(x => x.Service.hasBabysitter)
    <span asp-validation-for="Service.hasBabysitter" class="text-danger"></span>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>*@


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="rounded-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Головна </a></li>
                        <li class="breadcrumb-item"><a asp-controller="Booking" asp-action="Index">Вибір житла </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Бронювання житла</li>
                    </ol>
                </nav>
            </div>
        </div>
        <p style="font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 35px; color: #201E1E;"style>
            @Model.Room.TypeRoom
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div style="height: 400px; width: 415px;" class="col-5">
                <img style="height: 400px; border-radius: 10px;" src="~/image/room/Deluxe.png" class="card-img-top">
            </div>
            <div style="width: 310px;" class="col-3">
                <div style="height: 197px; width: 280px;">
                    <img style="height: 195px; border-radius: 10px;" src="~/image/room/Deluxe.png" class="card-img-top">
                </div>
                <div style="height: 197px; width: 280px;" class="mt-2">
                    <img style="height: 195px; border-radius: 10px;"style src="~/image/room/Deluxe.png" class="card-img-top">
                </div>
            </div>
            <div style="height: 400px; width: 380px;" class="col-4 text-lg-start">
                <p style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 18px; color: #201E1E;">
                    Опис номера
                </p>
                <p style="font-size: 14px; color: #858484">@Model.Room.LongDescription</p>

                <div class="row mt-3">
                    <div class="col-4">
                        <p style="font-size: 14px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                    </div>
                    <div class="col-4 text-center">
                        <p style="font-size: 14px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                    </div>
                    <div class="col-4 text-center">
                        <p style="font-size: 14px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                    </div>
                </div>

            </div>
        </div>


    </div>
</section>