@using Domain.Enum
@using Domain.Models.ViewModels
@model List<BookingViewModel>

@*@foreach (var bookingItem in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Room @bookingItem.Room.RoomNumber @bookingItem.Room.TypeRoom</h5>
            <h6 class="card-subtitle mb-2 text-muted">The room has @bookingItem.Room.CountRoom beds and is located on the @@bookingItem.Room.Floor floor</h6>
            @Html.ActionLink("Edit", "Edit", new {  BookingId=bookingItem.BookingId  }) 
            @Html.ActionLink("Delete", "Delete", new { BookingId = bookingItem.BookingId  })
        </div>
    </div>
}*@

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="rounded-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Головна </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Вибір житла</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div col-3 >
                        <a style="text-decoration: none;" asp-controller="Home" asp-action="Index">
                            <div class="card" style="width: 17rem;">
                                <img src="~/image/room/Standart.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-size: 16px; color: #353535;">Стандартний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Стандартний номер у готелі, що складається з однієї кімнати без будь-яких надмірностей.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div style="padding-right: 5px;" class="col-4">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> 1 людина</p>
                                        </div>
                                        <div class="col-4 text-lg-end">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></i></span> 1 ліжко</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></i></span> 2𝑥5 m</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div col-3 >
                        <a style="text-decoration: none;" asp-controller="Home" asp-action="Index">
                            <div class="card" style="width: 17rem;">
                                <img src="~/image/room/Standart.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-size: 16px; color: #353535;">Стандартний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Стандартний номер у готелі, що складається з однієї кімнати без будь-яких надмірностей.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div style="padding-right: 5px;" class="col-4">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> 1 людина</p>
                                        </div>
                                        <div class="col-4 text-lg-end">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></i></span> 1 ліжко</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></i></span> 2𝑥5 m</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div col-3 >
                        <a style="text-decoration: none;" asp-controller="Home" asp-action="Index">
                            <div class="card" style="width: 17rem;">
                                <img src="~/image/room/Standart.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-size: 16px; color: #353535;">Стандартний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Стандартний номер у готелі, що складається з однієї кімнати без будь-яких надмірностей.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div style="padding-right: 5px;" class="col-4">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> 1 людина</p>
                                        </div>
                                        <div class="col-4 text-lg-end">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></i></span> 1 ліжко</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></i></span> 2𝑥5 m</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div col-3 >
                        <a style="text-decoration: none;" asp-controller="Home" asp-action="Index">
                            <div class="card" style="width: 17rem;">
                                <img src="~/image/room/Standart.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-size: 16px; color: #353535;">Стандартний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Стандартний номер у готелі, що складається з однієї кімнати без будь-яких надмірностей.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div style="padding-right: 5px;" class="col-4">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> 1 людина</p>
                                        </div>
                                        <div class="col-4 text-lg-end">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></i></span> 1 ліжко</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></i></span> 2𝑥5 m</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div col-3 >
                        <a style="text-decoration: none;" asp-controller="Home" asp-action="Index">
                            <div class="card" style="width: 17rem;">
                                <img src="~/image/room/Standart.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-size: 16px; color: #353535;">Стандартний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Стандартний номер у готелі, що складається з однієї кімнати без будь-яких надмірностей.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div style="padding-right: 5px;" class="col-4">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> 1 людина</p>
                                        </div>
                                        <div class="col-4 text-lg-end">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></i></span> 1 ліжко</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></i></span> 2𝑥5 m</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div col-3 >
                        <a style="text-decoration: none;" asp-controller="Home" asp-action="Index">
                            <div class="card" style="width: 17rem;">
                                <img src="~/image/room/Standart.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-size: 16px; color: #353535;">Стандартний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Стандартний номер у готелі, що складається з однієї кімнати без будь-яких надмірностей.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div style="padding-right: 5px;" class="col-4">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> 1 людина</p>
                                        </div>
                                        <div class="col-4 text-lg-end">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></i></span> 1 ліжко</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></i></span> 2𝑥5 m</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div col-3 >
                        <a style="text-decoration: none;" asp-controller="Home" asp-action="Index">
                            <div class="card" style="width: 17rem;">
                                <img src="~/image/room/Standart.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-size: 16px; color: #353535;">Стандартний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Стандартний номер у готелі, що складається з однієї кімнати без будь-яких надмірностей.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div style="padding-right: 5px;" class="col-4">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> 1 людина</p>
                                        </div>
                                        <div class="col-4 text-lg-end">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></i></span> 1 ліжко</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></i></span> 2𝑥5 m</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div col-3 >
                        <a style="text-decoration: none;" asp-controller="Home" asp-action="Index">
                            <div class="card" style="width: 17rem;">
                                <img src="~/image/room/Standart.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-size: 16px; color: #353535;">Стандартний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Стандартний номер у готелі, що складається з однієї кімнати без будь-яких надмірностей.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div style="padding-right: 5px;" class="col-4">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> 1 людина</p>
                                        </div>
                                        <div class="col-4 text-lg-end">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></i></span> 1 ліжко</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 11px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></i></span> 2𝑥5 m</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
        </div>               
@*
        <div class="row mt-3">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-10">
                
            </div>
        </div>*@

    </div>
</section>