@using Domain.Enum
@using Domain.Models.ViewModels
@model List<BookingViewModel>

@*@foreach (var bookingItem in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Room @bookingItem.Room.RoomNumber @bookingItem.Room.TypeRoom</h5>
            <h6 class="card-subtitle mb-2 text-muted">The room has @bookingItem.Room.CountRoom beds and is located on the @@bookingItem.Room.Floor floor</h6>
            @Html.ActionLink("Edit", "Edit", new {  BookingId=bookingItem.BookingId  }) 
            @Html.ActionLink("Delete", "Delete", new { BookingId = bookingItem.BookingId  })
        </div>
    </div>
}*@

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="rounded-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Головна </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Вибір житла</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col-4">
                        <a style="text-decoration: none;" asp-controller="Booking" asp-action="Create" asp-route-typeRoom="Standart">
                            <div style="box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);" class="card border-0" style="width: 19rem;">
                                <img src="~/image/room/Standart.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; color: #353535;">Стандартний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Стандартний номер у готелі, що складається з однієї кімнати без будь-яких надмірностей.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" >
                        <a style="text-decoration: none;" asp-controller="Booking" asp-action="Create" asp-route-typeRoom="Single">
                            <div style="box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);" class="card border-0" style="width: 19rem;">
                                <img src="~/image/room/Single.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; color: #353535;">Одномісний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Одномісна кімната для одного гостя. Це ідеальний варіант для короткотривалого проживання.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" >
                        <a style="text-decoration: none;" asp-controller="Booking" asp-action="Create" asp-route-typeRoom="Studio">
                            <div style="box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);" class="card border-0" style="width: 19rem;">
                                <img src="~/image/room/Studio.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; color: #353535;">Студія</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Простора кімната з відокремленою зоною для відпочинку та спальнею.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-4">
                        <a style="text-decoration: none;" asp-controller="Booking" asp-action="Create" asp-route-typeRoom="Family">
                            <div style="box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);" class="card border-0" style="width: 19rem;">
                                <img src="~/image/room/Family.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; color: #353535;">Сімейний</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Cімейна кімната, розрахована на проживання з дітьми, може мати окремі спальні або додаткові ліжка.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" >
                        <a style="text-decoration: none;" asp-controller="Booking" asp-action="Create" asp-route-typeRoom="Deluxe">
                            <div style="box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);" class="card border-0" style="width: 19rem;">
                                <img src="~/image/room/Deluxe.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; color: #353535;">Делюкс</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Розкішна кімната з покращеними зручностями і стильним дизайном.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" >
                        <a style="text-decoration: none;" asp-controller="Booking" asp-action="Create" asp-route-typeRoom="Luxury">
                            <div style="box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);" class="card border-0" style="width: 19rem;">
                                <img src="~/image/room/Luxury.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; color: #353535;">Люкс</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Розкішний номер з вишуканим інтер'єром та високим рівнем обслуговування.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-4">
                        <a style="text-decoration: none;" asp-controller="Booking" asp-action="Create" asp-route-typeRoom="Penhouse">
                            <div style="box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);" class="card border-0" style="width: 19rem;">
                                <img src="~/image/room/Penhouse.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; color: #353535;">Пенхаус</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Розкішний квартирний номер, розташований на верхньому поверсі готелю з видом на місто.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" >
                        <a style="text-decoration: none;" asp-controller="Booking" asp-action="Create" asp-route-typeRoom="Presidential">
                            <div style="box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);" class="card border-0" style="width: 19rem;">
                                <img src="~/image/room/Presidential.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; color: #353535;">Президентський</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Розкішний номер президентського рівня з просторими вітальними та спальними зонами.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" >
                        <a style="text-decoration: none;" asp-controller="Booking" asp-action="Create" asp-route-typeRoom="Townhouse">
                            <div style="box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.05);" class="card border-0" style="width: 19rem;">
                                <img src="~/image/room/Townhouse.png" class="card-img-top">
                                <div style="padding-bottom: 0.5rem;" class="card-body">
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 600; font-size: 25px; color: #64876F;">2 200 UAH <span style="font-size: 14px;">/ одну людину</span></p>
                                    <p class="card-title" style="font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; color: #353535;">Таунхаус</p>
                                    <p style="font-size: 12px; color: #858484;" class="card-text">Розкішна житлова одиниця з окремим входом, розташована в будівлі на кілька поверхів.</p>
                                    <hr class="my-2"/>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-user-group" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 людина</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-solid fa-bed" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">1 ліжко</span></p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p style="font-size: 12px; color: #858484;"><span><i class="fa-regular fa-square" style="color: #64876f;"></i></span> <span style="margin-left: 10px;">2𝑥5 m</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    
        </div>               

    </div>
</section>